-provide(:title, 'Sign in')

%h1 Sign in

.row
  .center
    = simple_form_for(:sessions, url: sessions_path) do |f|
      /= render 'shared/error_messages'
      = f.input :email
      = f.input :password
      = f.button :submit, "Sign in", class: "btn btn-large btn-primary"
    %p
      New user? #{link_to "Sign up", sign_up_path}

